<!DOCTYPE html>
<html>
<head>
	<title>To-Do For You Edit Task Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/edit.css">
	<link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet'>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<img src="../images/toDo-background.jpeg" alt="tech" class="img-responsive"/>
			<div class="col-sm-6 edit">
				<h1>**Edit Tasks Here**</h1>
				Task id: <%= task.id%><hr />
				Task name: <%= task.taskName%><hr />
				Task Date: <%= task.taskDate%><hr />
				<form action="/editItem" method="post">
					<div class="form-group content">
						<input type="text" class="form-control" placeholder="New Task" name="newTask" value="<%=task.taskName%>"/>
						<input type="date" class="form-control" name="newTaskDate" value="<%task.taskDate%>"/>
						<input type="hidden"name="id" value="<%=task.id%>"/>
					</div>
					<button type="submit" class="btn btn-primary">Edit Task</button>
				</form>			
		</div>
	</div>
</div>
</body>
</html>
