<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/edit.css">
	<link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet'>
</head>
<body>
<!-- 	<h1>Welcome to the Edit page</h1>
Task id: <%= task.id%><hr />
Task name: <%= task.taskName%><hr />
Task Date: <%= task.taskDate%><hr /> -->

	<div class="container-fluid">
		<div class="row">
				<img src="../images/toDo-background.jpeg" alt="tech" class="img-responsive"/>
			<div class="col-sm-12 welcome">
				<h1>**Edit Tasks Here**</h1>
				Task id: <%= task.id%><hr />
				Task name: <%= task.taskName%><hr />
				Task Date: <%= task.taskDate%><hr />
				<form class="form-inline" action="/editItem" method="post">
					<div class="form-group content">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="New Task" name="newTask" value="<%=task.taskName%>"/>
						</div>
						<div class="input-group">
							<input type="date" class="form-control" name="newTaskDate" value="<%task.taskDate%>"/>
						</div>
						<input type="hidden"name="id" value="<%=task.id%>"/>
					</div>
					<button type="submit" class="btn btn-primary">Edit Task</button>
				</form>			
		</div>
	</div>
</div>
</body>
</html>
<!-- //needed an edit.ejs in view file for the info to be rendered. -->
<!-- /editItem?id=<%=task.id%> -->