<!DOCTYPE html>
<html>
<head>
	<title>To-Do For You Task Page</title>
	<!-- Bootstrap CSS -->
	 <link rel="icon" type="image" href="./images/toDo-background.jpeg">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet'>
	
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<img src="../images/toDo-background.jpeg" alt="tech" class="img-responsive">
			<div class"col-sm-2" id="welcome-msg">
			 	<h2>Welcome, <%=userName%>!</h2>
				<h2><a href="/logout">Log Out</h2></a>
			</div>
			<div id="tasks" class="col-sm-6 ">
				<h3><%= message%></h3>
				<h1>To-Do for YOU - TASKS</h1>
				<form class action="/addItem" method="post">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="New Task" name="newTask"/>
						<input type="date" class="form-control" name="newTaskDate"/>
					</div>
						<button type="submit"class="btn btn-primary">Add New Task</button>
				</form>
			</div>
			<div class="row">
			  <div class="col-sm-12">
			  	<table class="table">
			  	<tr>
				  	<th class="text-center">Task Name</th>
				  	<th class="text-center">Task Due Date</th>
				  	<th class="text-center">Edit</th>
				  	<th class="text-center">Delete</th>
			  	</tr>
			<% for (let i = 0; i<taskArray.length; i++){   %>
			  	<tr>
				  	<td><%= taskArray[i].taskName %>%></td>
				  	<td><%= taskArray[i].taskDate.toLocaleDateString() %></td>
				  	<td>
				  	<a href="/edit/<%=taskArray[i].id %>">
				  	<button class ="btn btn-warning">Edit</button>
				  	</a>
				  	</td>

				  	<td>
					  	<a href="/delete/<%=taskArray[i].id%>">
						  	<button class="btn btn-danger">Delete</button>
					  	</a>
				  	</td>
			  	</tr>
			<% } %>
			  	</table>
		</div>
	</div>


